openapi: 3.0.3
info:
  title: DeenMate API
  version: 1.0.0
  description: Islamic content API for DeenMate mobile application
servers:
  - url: https://api.deenmate.app/v1
    description: Production server
  - url: https://staging-api.deenmate.app/v1
    description: Staging server
paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
  /finance/gold-prices/latest:
    get:
      summary: Latest gold and silver prices (Bangladesh)
      tags: [Finance]
      parameters:
        - in: query
          name: unit
          schema:
            type: string
            enum: [Gram, Vori]
          description: Preferred unit to convert results to
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoldPriceLatest'
  /finance/gold-prices/history:
    get:
      summary: Historical gold and silver prices (Bangladesh)
      tags: [Finance]
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date
          description: ISO date (inclusive)
        - in: query
          name: to
          schema:
            type: string
            format: date
          description: ISO date (inclusive)
        - in: query
          name: metal
          schema:
            type: string
            enum: [Gold, Silver]
        - in: query
          name: category
          schema:
            type: string
          description: 22K, 21K, 18K, Traditional, etc.
        - in: query
          name: unit
          schema:
            type: string
            enum: [Gram, Vori]
          description: Stored unit filter
        - in: query
          name: preferredUnit
          schema:
            type: string
            enum: [Gram, Vori]
          description: Convert results to this unit
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoldPriceHistory'
  /admin/sync/gold-prices:
    post:
      summary: Manually trigger gold/silver price scraping (Admin)
      tags: [Admin]
      security:
        - AdminApiKey: []
      responses:
        '201':
          description: Triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  inserted:
                    type: integer
components:
  securitySchemes:
    AdminApiKey:
      type: apiKey
      in: header
      name: x-admin-api-key
  schemas:
    GoldPriceLatest:
      type: object
      properties:
        metal:
          type: string
          enum: [Gold, Silver]
        category:
          type: string
        unit:
          type: string
          enum: [Gram, Vori]
        price:
          type: number
        currency:
          type: string
          example: BDT
        change:
          type: string
          nullable: true
          enum: [Up, Down, Unchanged]
        fetchedAt:
          type: string
          format: date-time
        source:
          type: string
          example: https://www.bajus.org/gold-price
    GoldPriceHistory:
      allOf:
        - $ref: '#/components/schemas/GoldPriceLatest'
